<!-- Will had multi-language support later. -->

<h1>关于我们</h1>
<p>
读书会为非营利组织，成立于2016年10月，坚持每周分享一本好书，目前已举办60多期线上活动与3期线下讲座。读书会约有3000名成员，成员来自中国、美国、加拿大等各国华人，影响上万人次，分享主题涵盖科技、职场、心理、文学、艺术等领域。邀请嘉宾包括各界领袖精英，比如图书作者、自媒体大V、投行总监、各领域PhD等。

读书会的目标是分享有价值的思想，让思考更自由，精神更独立。读书会提倡以报告方式，加强组织表达力；以讨论方式，激荡思考判断力，期能扩充知识领域，养成读书习惯。读书会的宗旨是集众智，挑好书，留精华内容，创优质社群。
</p>

<h1>公告</h1>
<mat-list role="list">
  <mat-list-item role="listitem">Item 1</mat-list-item>
  <mat-list-item role="listitem">Item 2</mat-list-item>
  <mat-list-item role="listitem">Item 3</mat-list-item>
</mat-list>

<h1>活动日历</h1>
Will put event calendar here

<h1>最新活动简介，参与方式（Zoom链接）</h1>

<h1>相关链接</h1>
<h2>往届视频</h2>
<p><a href="https://space.bilibili.com/307177187/#/">B站</a></p>
<p><a href="https://www.youtube.com/channel/UCEVwdrxmK-XisU8g4O5qYGw">Youtube</a></p>

以下链接仍然valid，但内容很久没有更新，也许是维护成本太高。是否需要只放在幕布/简书，不用豆瓣？或直接放在论坛（未建设）？
<h2>读书笔记</h2>
<p><a href="https://mubu.com/doc/3kbCSfyhYA">幕布</a></p>
<p><a href="https://www.jianshu.com/u/b2f2949a8b1f">简书</a></p>
<p><a href="http://www.douban.com/people/readingclub/">豆瓣读书</a></p>