<mat-toolbar color="primary">
  <span>Welcome to Reading Club!&nbsp;&nbsp;&nbsp;&nbsp;</span>
  
  <button mat-icon-button aria-label="Watch Past Videos">
    <mat-icon>tv</mat-icon>
  </button>
  <!-- This is only to view calendar; will show calendar on home page as well -->
  <button mat-icon-button aria-label="See Calendar Events">
    <mat-icon>timeline</mat-icon>
  </button>
  <button mat-icon-button aria-label="Dicuss on Forum">
    <mat-icon>forum</mat-icon>
  </button>

  <!-- This fills the remaining space of the current row -->
  <span class="fill-remaining-space"></span>

  <button mat-icon-button aria-label="Choose a language">
      <mat-icon>language</mat-icon>
    </button>
  <button mat-icon-button aria-label="Example icon-button with a heart icon">
    <mat-icon>account_circle</mat-icon>
  </button>

</mat-toolbar>