<p>This is from the server component.</p>
<button [disabled]="!allowNewServer"
(click) = "onCreateServer()">Create Server</button>
<p [ngStyle]="{backgroundColor: getBGColour()}" [innerText]="serverCreationStatus"></p>

<div *ngIf="serverCreated; else noServer" [ngClass]="{withName: !(serverName==='N/A')}">
    <label>Server Name:</label>
    <p>{{serverName}}</p>
    
    <p>Below is without two-way binding, use input function event listener instead</p>
    <input type="text"
    class="form-control"
    (input)="onUpdateServerName($event)">
    <p>Below is with two-way binding</p>
    <input type="text"
    class="form-control"
    [(ngModel)]="serverName">
</div>
<ng-template #noServer>
    No server yet.
</ng-template>